<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.com.myapplication">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


            <!--  DeepLink-->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="open"
                    android:scheme="myapplication" />

            </intent-filter>

            <!--*******-->

        </activity>

        <!--New Install capture-->

        <receiver
            android:name="io.mob.resu.reandroidsdk.InstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!---->


        <!-- Replace your App ID-->
        <meta-data
            android:name="resulticks.key"
            android:value="api_key_beb81599-56fe-4210-802c-072cade5e484" />

        <!-- App notification icons & Colors -->

        <meta-data
            android:name="resulticks.default_notification_icon"
            android:resource="@drawable/ic_launcher" />
        <meta-data
            android:name="resulticks.default_notification_icon_transparent"
            android:resource="@drawable/ic_notifications" />
        <meta-data
            android:name="resulticks.default_notification_color"
            android:resource="@color/colorAccent" />


    </application>

</manifest>